@(implicit session: play.mvc.Http.Session)

@main(session) {
<br/><br/><br/>
<hr class="soften">
<div class="page-header">
	<h2>PV Plants Energy Productions</h2>
</div>

<table class="table table-bordered" id="dpTable">
	<thead>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</tfoot>
</table>
<h2>Energy Production</h2>
<table class="table table-bordered" id="prodTable">
	<thead>
		<tr>
			<th>Pv Plant Id</th>
			<th>Timestamp</th>
			<th>Kw/h energy produced</th>
			<th>Temperature</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>Pv Plant Id</th>
			<th>Timestamp</th>
			<th>Kw/h energy produced</th>
			<th>Temperature</th>
		</tr>
	</tfoot>
</table>
}{
	<script src="@routes.Assets.at("javascripts/listProduction.js")" type="text/javascript"></script>
}
