@(implicit session: play.mvc.Http.Session) @main(session) {
<br />
<br />
<br />
<hr class="soften">
<div class="page-header">
	<h2>PV Plants Energy Productions</h2>
</div>

<h2>Report Production</h2>

<div class="table-bordered">
	<p class=""> select the day
	<select id="selectday" name="selectday" class="input-xlarge">
	</select>
	</p>
</div>

<div id="chart"></div>

<table class="table table-bordered" id="dpTable">
	<thead>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
	<tfoot>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</tfoot>
</table>
}{
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="@routes.Assets.at("javascripts/reportProduction.js")" type="text/javascript"></script>
}
