@(myForm: Form[controllers.forms.TrendForm], networks: List[String])(implicit session: play.mvc.Http.Session)

@main(session) {
<br/><br/><br/>
<hr class="soften">
<div class="page-header">
	<h2>Start Trend Cluster Generator (aka Sumatra)</h2>
	<br>
</div>
<div class="row offset2">
@helper.form(action = routes.Sumatra.schedule, 'class -> "form-horizontal" ) {
			<fieldset>
			
			<!-- Form Name -->
			<legend>Trend Cluster Generator Parameters</legend>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label">Network</div>
			  <div class="controls">
			    <select id="selectNetwork" name="network" class="input-large" value="@myForm("network").value">
			    @for(n <- networks){
			    	<option value="@n" >@n</option>
			    }
			    </select>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Starting Time</div>
			  <div class="controls">
			    <input id="startingTime" name="startingTime" type="text" class="input-large" required="required"
			    value="@myForm("startingTime").value" data-date-format="yyyy-mm-dd hh:ii">
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Interval Snapshot in Minutes</div>
			  <div class="controls">
			    <input id="intervalMinute" name="intervalMinute" type="text" placeholder="" class="input-large" required="required"
			    value="@myForm("intervalMinute").value">
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Window Size</div>
			  <div class="controls">
			    <input id="windowSize" name="windowSize" type="text" placeholder="" class="input-large" required="required"
			    value="@myForm("windowSize").value" >
			    <p class="help-block">Size of the window to be generated</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Mininum Threshold</div>
			  <div class="controls">
			    <input id="threshold" name="threshold" type="text" placeholder="0.8" class="input-large" required=""
			    value="@myForm("threshold").value">
			    <p class="help-block">Minimum threshold for similarity</p>
			  </div>
			</div>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label"> Max distance Among Edges</div>
 			    <div class="controls">
			    <input id="maxDistanceEdge" name="maxDistanceEdge" type="text" placeholder="" class="input-large" required="required"
			    value="@myForm("maxDistanceEdge").value">
			    <p class="help-block">Maximum Distance Among the Edges</p>
			  </div>
			</div>
			
			<!-- Button (Double) -->
			<div class="control-group">
			  <div class="control-label"></div>
			  <div class="controls">
			    <button type="submit" name="start" class="btn btn-success">Schedule</button>
			   	<a href="@routes.Application.index" class="btn btin-info">Cancel</a>
			  </div>
			</div>
			</fieldset>
			}
</div>
}{
	<script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.js")" type="text/javascript" charset="UTF-8"></script>
	<script src="@routes.Assets.at("javascripts/sumatra.js")" type="text/javascript"></script>
}
