@(implicit session: play.mvc.Http.Session)

@main(session) {
<br/><br/><br/>
<hr class="soften">
<div class="page-header">
	<h2>PV Plants Energy Productions</h2>
</div>

<table class="table table-bordered" id="smTable">
	<thead>
		<tr>
			<th>Id</th>
			<th>Network</th>
			<th>Starting Time</th>
			<th>Time Interval Minutes</th>
			<th>Window Size</th>
			<th>Threshold</th>
			<th>Max Edges Distance</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>Id</th>
			<th>Network</th>
			<th>Starting Time</th>
			<th>Time Interval Minutes</th>
			<th>Window Size</th>
			<th>Threshold</th>
			<th>Max Edges Distance</th>
		</tr>
	</tfoot>
</table>
}{
	<script src="@routes.Assets.at("javascripts/listSumatra.js")" type="text/javascript"></script>
}
