@(myForm: Form[clientModels.DeliveryPointDTO], owners: List[clientModels.OwnerDTO])(implicit session: play.mvc.Http.Session)

@import helper._
@import helper.twitterBootstrap._

@main(session){
<br/><br/><br/>
<hr class="soften" />
	<div class="marketing">
	<h2>Add a PV Plant</h2>
		<br>
	</div>
	
 <div class="row">
		<div class="span5">
		 	@helper.form(action = routes.DeliveryPoint.save, 'class -> "form-horizontal") {
			<fieldset>
			
			<!-- Form Name -->
			<legend>PV Plant Information</legend>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label">Select Owner</div>
			  <div class="controls">
			    <select id="selectOwner" name="owner" class="input-xlarge" value="@myForm("owner").value">
			    @for(o <- owners){
			    	<option value="@o.username" >@o.username</option>
			    }
			    </select>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Address</div>
			  <div class="controls">
			    <input id="street" name="street" type="text" placeholder="via e. orabona 4" class="input-xlarge" required="" 
			    value="@myForm("street").value">
			    <button class="btn" id="searchAddress">Search</button>
			    <p class="help-block">insert the address</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Position</div>
			  <div class="controls">
			    <input id="position" name="position" type="text" placeholder="" class="input-xlarge" required="required"
			    value="@myForm("position").value" readonly="">
			    
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Peak Power</div>
			  <div class="controls">
			    <input id="pvPlant.peakPower" name="pvPlant.peakPower" type="text" placeholder="16" class="input-xlarge" required=""
			    value="@myForm("pvPlant.peakPower").value" >
			    <p class="help-block">pv plant peak power</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Area</div>
			  <div class="controls">
			    <input id="pvPlant.area" name="pvPlant.area" type="text" placeholder="160" class="input-xlarge" required=""
			    value="@myForm("pvPlant.area").value">
			    <p class="help-block">the area in square meters</p>
			  </div>
			</div>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label">Plant Type</div>
			  <div class="controls">
			    <select id="pvPlant.type" name="pvPlant.type" class="input-xlarge"
			    value="@myForm("pvPlant.type").value">
			    @for((k,v) <- models.enums.PlantType.mapValues){
			    	<option value="@k">@v</option>
			    }
			    </select>
			  </div>
			</div>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label">Plant Place</div>
			  <div class="controls">
			    <select id="pvPlant.place" name="pvPlant.place" class="input-xlarge" value="@myForm("pvPlant.place").value">
			   	@for((k,v) <- models.enums.Place.mapValues){
			    	<option value="@k">@v</option>
			    }
			    </select>
			  </div>
			</div>
			
			<!-- Select Basic -->
			<div class="control-group">
			  <div class="control-label">Plant Technology</div>
			  <div class="controls">
			    <select id="pvPlant.technology" name="pvPlant.technology" class="input-xlarge"
			    value="@myForm("pvPlant.technology").value" >
			    @for((k,v) <- models.enums.Technology.mapValues){
			    	<option value="@k">@v</option>
			    }
			    </select>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Plant Angle</div>
			  <div class="controls">
			    <input id="pvPlant.angle" name="pvPlant.angle" type="text" placeholder="160" class="input-xlarge" required=""
			    value="@myForm("pvPlant.angle").value">
			    <p class="help-block">the angle of the Plant</p>
			  </div>
			</div>
			
			<!-- Text input-->
			<div class="control-group">
			  <div class="control-label">Plant Aspect Angle</div>
			  <div class="controls">
			    <input id="pvPlant.aspectAngle" name="pvPlant.aspectAngle" type="text" placeholder="160" class="input-xlarge" required=""
			    value="@myForm("pvPlant.angle").value">
			    <p class="help-block">the aspect angle of the Plant</p>
			  </div>
			</div>
			
			<!-- Button (Double) -->
			<div class="control-group">
			  <div class="control-label"></div>
			  <div class="controls">
			    <button type="submit" name="save" class="btn btn-success">Save</button>
			   	<a href="@routes.Application.index" class="btn btin-info">Cancel</a>
			  </div>
			</div>
			</fieldset>
			}
		</div>
		<div class="span6">
				<!-- Form Name -->
				<legend>PV Plant Position</legend>
				<div id="map" ></div>
		</div>
	</div>

}{
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="@routes.Assets.at("javascripts/maps/mxn.js")?(googlev3,[geocoder])" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/createDeliveryPoint.js")" type="text/javascript"></script>
}