@(implicit session: play.mvc.Http.Session)

@main(session) {
<br/><br/><br/>
<hr class="soften">
<div class="page-header">
	<h2>Delivery Points</h2>
	<br>
</div>

<table class="table table-bordered" id="dpTable">
	<thead>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</tfoot>
</table>
<div id="dynamic"></div>
}{
	<script src="@routes.Assets.at("javascripts/listDeliveryPoint.js")" type="text/javascript"></script>
}
