@(implicit session: play.mvc.Http.Session, dates:
List[clientModels.DateDTO]) @main(session) {
<br />
<br />
<br />
<hr class="soften">
<div class="page-header">
	<h2>View Trend Clusters</h2>
	<br>
</div>
<div class="table-bordered">
	<p class="">
		select a day <select id="selectday" name="selectday"
			class="input-xlarge"> @for(date <- dates) {
			<option value="@date.date.getTime">@date.dateString</option> }
		</select>
	</p>
	<p class="">
		select cluster ids <select id="selectId" name="selectId"
			class="input-xxlarge"></select>
	</p>
</div>
<div class="row">
	<h3>Clusters Map</h3>
	<div id="trendMap"></div>
</div>

<div class="row">
	<h3>PolyLines</h3>
	<div id="chart1">
		<svg></svg>
	</div>
</div>


}{
<script src="@routes.Assets.at("javascripts/sumatraResult.js")" type="text/javascript"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6/leaflet.js"></script>
<script src="@routes.Assets.at("javascripts/leaflet.awesome-markers.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/d3.v3.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/nv.d3.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/tooltip.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/utils.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/models/legend.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/models/axis.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/models/scatter.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/models/line.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/models/lineWithFocusChart.js")" type="text/javascript" charset="UTF-8"></script>
<script src="@routes.Assets.at("javascripts/stream_layers.js")" type="text/javascript" charset="UTF-8"></script>
}
