@(myForm: Form[controllers.forms.LoginUser])(implicit session: play.mvc.Http.Session)

@import helper._
@import helper.twitterBootstrap._

@main(session){

<hr class="soften" />
	<div class="marketing">
		<h2></h2>
		<br>
	</div>
	
    <div class="row">
		<div class="offset4 span5">
		    @helper.form(action = routes.Login.authenticate, 'class -> "form-horizontal") {
		    <hr class="soften">
		    
		    <h2>Sign in</h2>
                        
            <p>
                <input type="text" name="username" placeholder="Username" id="username" value="@myForm("username").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <hr>
            <p>
                <button type="submit" id="loginbutton" class="btn btn-primary">Login</button>
		        <a href="@routes.Application.index" class="btn">Cancel</a>
            </p>			            
	                        		        
		    }
	</div>
</div>

}{
}