@(implicit session: play.mvc.Http.Session)

@main(session) {
<br/><br/><br/>
<hr class="soften">
<div class="page-header">
	<h2>Start Data Generators</h2>
	<br>
</div>
<p>Select one row in the table and select the action form the button below
<div class="btn-group">
  <a id="start" class="btn btn-primary disabled" href="">Start</a>
  <a id="stop" class="btn btn-inverse disabled" href="">Stop</a>
  <a id="reset" class="btn btn-danger disabled" href="">Reset</a>
</div>
</p>
@if(flash.get("message") != null){
<div class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Info</h4>
  @flash.get("message")
</div>
}


<table class="table table-bordered" id="dpTable">
	<thead>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
	<tfoot>
		<tr>
			<th>id</th>
			<th>Address</th>
			<th>Peak Power</th>
			<th>Area</th>
			<th>Type</th>
			<th>Place</th>
			<th>Technology</th>
			<th>Status</th>
			<th>Owner Username</th>
		</tr>
	</tfoot>
</table>
<div id="dynamic"></div>
}{
	<script src="@routes.Assets.at("javascripts/dataGenerator.js")" type="text/javascript"></script>
}
