@(implicit session: play.mvc.Http.Session)

@main(session) {
     <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="@routes.Assets.at("images/carousel/slide-01.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="@routes.Assets.at("images/carousel/slide-02.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
           <img src="@routes.Assets.at("images/carousel/slide-03.jpg")" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">People</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>The Energy</h2>
          <p>L'energia e' legata a tutte le attivita' umane: quando pensiamo o ci muoviamo utilizziamo energia 
        immagazzinata nel nostro corpo, tutti gli oggetti che ci circondano o di cui facciamo uso hanno bisogno 
        di energia per funzionare o ne hanno avuto bisogno per essere costruiti; l'energia illumina e riscalda 
        le nostre case, ci permette di spostarci, alimenta gli strumenti coi quali produciamo il cibo e cosi' via.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Solar Energy</h2>
          <p>I dispositivi che consentono di ricavare direttamente energia dal 
           sole sono di diversi tipi: i pannelli solari per produrre acqua calda, 
           i sistemi fotovoltaici per produrre elettricita', gli specchi concentratori 
           per produrre calore ad alta temperatura da utilizzare in centrali elettriche.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Environment</h2>
          <p>L'energia elettrica prodotta con il fotovoltaico ha un costo 
          nullo per combustibile: per ogni kWh prodotto si risparmiano circa 250 grammi 
          di olio combustibile e si evita l'emissione di circa 700 grammi di CO2, nonche' 
          di altri gas responsabili dell'effetto serra, con un sicuro vantaggio economico e 
          soprattutto ambientale per la collettivita'.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
        
}{
}